{
    "presets": ["es2015"],
    "plugins": [
        [
            "namespace",
            {
                "namespaces": {
                    "test-files": "tests/fixtures",
                    "underscore": "npm:debug"
                }
            }
        ]
    ]
}